.navbar {
  z-index: 10;
    background-color: lightgrey;
    text-align: right;
    /* display: inline; */
    position: sticky;
    top: 0;
    border: 2px outset black
  }

#navbarList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: right;
    /* display: inline; */
  }