.projectContainer {
    display: flex;
}

.hide {
    position: absolute;
    z-index: 200;
    display: none;
    
}

.projectImage:hover + .hide {
    display: block;
    /* animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s; */
    
}

.projectContainer {
    display: flex;
    margin: 20px 20px 20px 15px;
    padding: 2px 3px;
    width: 96.59%;
    border-style: outset;
    /* float: right; */
    background-color: beige;
}

.titleCard {
    text-align: center;
  }
  
.eachProject {
    width: 40%;
    margin: 20px 20px;
    position: relative;
    text-align: center;
}

.projectList {
  list-style:inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay {
    z-index: -1;
    height: 299px;
    width: 400px;
    bottom: -62px;
    left: -15px;
    position: absolute;
    background-color: black;
    box-shadow: 3px;
    opacity: 0.6;
    
}

.project-text {
    z-index: 1;
    width: 65%;
    position: absolute;
    bottom: 120px;
    left: 100px;
    color: azure;
    font-family: monospace;
    font-size: 20px;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}


img {
    height: 300px;
    width: 400px;
}
