li {
    list-style: none;
}

.socialsContainer {
    justify-content: center;
    align-content: center;
    margin: 20px 20px 0px 15px;
    padding: 2px;
    width: 660px;
    height: 200px;
    border-style: outset;
    float: right;
    background-color: beige;
  }
  