 /* li {
    list-style: none;
} */

.container {
    margin: 20px 20px 0px 15px;
    padding: 2px;
    width: 1000px;
    border-style: outset;
    border-radius: 20px;
    float: right;
    border-color: rgb(189, 209, 255);
    background-color: rgb(233, 239, 255);
  }

 .logo {
     height: 50px;
     width: 50px;
     margin-left: 30px;
 }

.socialLinks {
    display: flex;
}

.socialsContainer {
    border-color: rgb(189, 209, 255);
    background-color: rgb(233, 239, 255);
    border-radius: 20px;
}